body {
	text-align: center;
	background-color: lightsteelblue;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.625;
	margin: 10;
	-webkit-font-smoothing: antialiased;
}

#header { /* Propriétés de mon header */
    background-size: cover; 
    height: 300px;
    color:white;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;  
  }

h1 {
    font-size: 2rem;
    color: red;
}

button {
	color: red;
	font-size: 1.5rem;
}

.row {
	margin-bottom: 1%;
	margin-left: 1%;
	text-align: left;
}

#deliver {
	text-align: center;
	margin-top: 2%;
}