body {
	text-align: center;
	background-color: lightsteelblue;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.625;
	margin: 10;
	-webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2rem;
    color: blue;
}

button {
	color: red;
	font-size: 1.5rem;
}

.output {
	color: black;
	background-color: white;
	border: 10px solid grey;
	text-align: center;
	text-size-adjust: 30px;
}

.col-md-3 {
	padding-bottom: 3px;
	margin-bottom: 1px;
}