body {
	text-align: center;
	background-color: lightsteelblue;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.625;
	margin: 10;
	-webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2rem;
    color: red;
}

h2 {
	color:orange;
}

button {
	color: red;
	font-size: 1.5rem;
}

.row {
	margin-bottom: 1%;
	margin-left: 1%;
	text-align: left;
}

#deliver {
	text-align: center;
	margin-top: 2%;
}

#root{
	margin-top: 10%;
}

#TextOutput{
	color: white;
	margin-top: 5%;
	margin-left: 40%;
	margin-right: 40%;
}